<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Tests</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    
    <div id="app">

        <input type="text" placeholder="Digite aqui..." v-model="filter">
        <button @click="toggleSorting" >Mudar ordenação</button>
        <p>{{info}}</p>
        <div v-if="dataLoaded">
            <ul v-if="countries.length > 0">
                <li v-for="(c, countIndex) in filteredCountryList" :key="countIndex"> {{countIndex+1}}. Nome do País: {{c.name}}</li>
            </ul>
            <p v-else>Nenhum pais encontrado</p>
        </div>
        <p v-else>Carregando...</p>
    </div>

    <script>    
        const urlCatFacts = "https://restcountries.eu/rest/v2";

        const vm = new Vue({
            el:"#app", // Qual elemento via fazer o bidding
            data: { // Onde ficam os objetos
                countries : [],
                dataLoaded : false,
                filter:"",
                info:"",
                sort:"asc"
            },
            methods:{ // Todos os metodos dentro da instancia desse vue
                toggleSorting(){
                    if(this.sort === "asc")
                        this.sort = "desc";
                    else
                        this.sort = "asc";
                    
                        this.$forceUpdate();
                }
            },
            async beforeCreate(){ // Quando o objeto for inicializado ele executa esse método primario
                const {data, request} = await axios.get(`${urlCatFacts}/all`)
                this.countries = data;
            },
            mounted(){
                this.dataLoaded = true;
            },
            computed:{ // Propriedade computada - Exetuado toda vez que os objetos manipulados pelas funcoes forem alterados
                filteredCountryList() {
                    return this.countries.filter(country => {
                        const regex = new RegExp(this.filter, "gi")
                        return regex.test(country.name)
                    }).sort((a,b) =>{
                        if(a.name > b.name){
                            return 1;
                        }else if(b.name > a.name){
                            return -1;
                        }else{
                            return 0;
                        }
                    });
                }
            },
            watch:{
                filter: function(val, oldVal){
                    this.info= `Filter era "${oldVal} e agora é "${val}"`
                }
            }
        }); 

    </script>
</body>
</html>